# .dockerignore

# Игнорируем ВСЕ папки node_modules во всем проекте.
# Это самая важная строка для решения твоей проблемы.
**/node_modules

# Игнорируем папки со сборками, чтобы они случайно не попали в контекст
**/dist
**/build
.svelte-kit/

# Файлы Git и Husky
.git
.husky

# Системные файлы
.DS_Store

# Файлы с секретами
.env
.env.*
!.env.example

# Логи
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*